<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <link href="css/vuetify.css" rel="stylesheet">
        <link href="css/fontawesome.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
    </head>

    <body>

            <style>
                .container {
                    height: calc(100% - 48px);
                }

                .toolbar .tabs {
                    width: auto;
                }
            </style>

            <!-- VUE INSTANCE TEMPLATE-->
            <div id="app">
                <v-app>
                    <v-content>
                        <v-toolbar color="green darken-2" dark dense>
                            <v-toolbar-title class="mr-2">
                                <v-icon class="mr-1 mb-1">{{icon}}</v-icon>
                                <span>{{header}}</span>
                            </v-toolbar-title>
                            
                            
                            <v-tabs v-model="state.active_tab" color="green darken-2">
        
                                <v-tabs-slider color="yellow"></v-tabs-slider>
        
                                <v-tab v-for="tab in state.tabs" :key="tab.name">
                                        <v-icon class="mr-1 mb-1">{{ tab.icon}}</v-icon>
                                        {{ tab.name }}
                                </v-tab>
        
                            </v-tabs>
        
                            <v-spacer></v-spacer>

                            <v-toolbar-items >
                                <v-btn v-if="!state.auth.name" flat @click="dialogs.signin = true">
                                    <v-icon class="mr-1 mb-1">fas fa-sign-in-alt</v-icon>вход
                                </v-btn>
        
                                <v-btn v-if="state.auth.name" flat>
                                    <v-icon class="mr-1 mb-1">fas fa-user-circle</v-icon>{{state.auth.name}}
                                </v-btn>
        
                                <v-btn v-if="state.auth.name"  flat @click="signout(true)">
                                    <v-icon class="mr-1 mb-1">fas fa-sign-out-alt</v-icon>
                                </v-btn>
        
                            </v-toolbar-items>
        
                        </v-toolbar>
        
                        <component :is="active" :state="state"></component>

                        <signin :visible="dialogs.signin" @cancel="dialogs.signin = false" @submit="signin"></signin>
                    </v-content>
                </v-app>
        </div>

        <!-- ABOUT COMPONENT TEMPLATE-->
        <script type="text/x-template" id="about">
            <v-container>
                <v-layout fill-height column align-center justify-center>
                    <v-icon color="green darken-2" class="shadow ma-2">fas fa-question fa-2x</v-icon>
                    <b>ИНФОРМАЦИЯ О ПРОЕКТЕ</b>
                    <span>Демонстрация возможностей Vue и Vuetify</span>
                </v-layout>
            </v-container>
        </script>

        <!-- SECRET COMPONENT TEMPLATE-->
        <script type="text/x-template" id="secret">
            <v-container>
                <v-layout fill-height column align-center justify-center>
                    <v-icon color="green darken-2" class="shadow ma-2">fas fa-user-secret fa-2x</v-icon>
                    <b>ЗАКРЫТАЯ ЧАСТЬ</b>
                    <span>Появляется после входа</span>
                </v-layout>
            </v-container>
        </script>

        <!-- UNAUTHENTICATE COMPONENT TEMPLATE-->
        <script type="text/x-template" id="unauthenticate">
            <v-container>
                <v-layout fill-height column align-center justify-center>
                    <v-icon color="green darken-2" class="shadow ma-2">fas fa-users fa-2x</v-icon>
                    <b>ТАБЛИЦА ПОЛЬЗОВАТЕЛЕЙ</b>
                    <span>Не осуществлен вход в ситему</span>
                    <v-btn color="green darken-2" flat="flat" @click="$root.dialogs.signin = true">ВОЙТИ</v-btn>
                </v-layout>
            </v-container>
        </script>

        <!-- USERS COMPONENT TEMPLATE-->
        <script type="text/x-template" id="users">
            <v-container>
                <v-layout fill-height column align-center>
                    <v-icon color="green darken-2" class="shadow ma-2">fas fa-users fa-2x</v-icon>
                    <b>ТАБЛИЦА ПОЛЬЗОВАТЕЛЕЙ</b>
                    <v-data-table class="green--text green--darken-2"
                                    item-key="id"
                                    disable-initial-sort
            
                                    :headers="headers"
                                    :items="state.users"
                                    >
            
                        <template slot="items" slot-scope="props">
                            <td>{{props.item.name}}</td>
                            <td>{{props.item.email}}</td>
                            <td class="justify-center layout px-0">
                                <v-btn icon @click="editAction(props.item)">
                                  <v-icon>edit</v-icon>
                                </v-btn>
                                <v-btn icon @click="deleteAction(props.item)">
                                  <v-icon color="red darken-2">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>

                </v-layout>
            </v-container>
        </script>

        <!-- SIGN IN DIALOG COMPONENT TEMPLATE-->
        <script type="text/x-template" id="signin">
            <v-dialog v-model="visible" persistent max-width="500px">
                <v-card>
                    <v-card-title>
                        <v-icon class="mr-1 green--text text--darken-2">fas fa-user-circle</v-icon>
                        <span class="headline green--text text--darken-2">sign in</span>
                    </v-card-title>
                    <v-card-text>
                        <v-card-text>
                            <v-form ref="form" class="form" lazy-validation @submit.prevent>
                                <v-text-field v-model="email"
                                                label="Email"
                                                required
                                                prepend-icon="fas fa-at"
                                                autofocus
                                                color="green darken-2"
                                                :rules="[
                                                    () => !!email || 'This field is required',
                                                ]"
                                ></v-text-field>
                                <v-text-field v-model="password"
                                                label="Password"
                                                type="password"
                                                required
                                                prepend-icon="fas fa-key"
                                                color="green darken-2"
                                                :rules="[
                                                    () => !!password || 'This field is required',
                                                ]"
                                ></v-text-field>
                            </v-form>
                            <small>*indicates required field</small>
                        </v-card-text>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-2" flat @click.native="$emit('cancel')">cancel</v-btn>
                        <v-btn color="green darken-2" flat @click.native="submit">sign in</v-btn>
                    </v-card-actions>
        
                </v-card>
        
            </v-dialog>
        </script>

        <script src="js/axios.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/vuetify.js"></script>
        
        <script src="index.js"></script>
    </body>
</html>